<br />
<div class='greyed-out'>
  <h3>Existing Questions</h3>
  <% @survey.questions.each do |question| %>
    <li>
      <%= question.text %>
      <%= link_to "Edit", url_for([:edit, @survey, question]), class: "btn btn-primary btn-xs" %>
      <%= link_to "Delete", url_for([@survey, question]), method: :delete, class: "btn btn-danger btn-xs" %>
      <ul>
        <% question.options.each do |option| %>
          <li>
            <%= option.text %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</div>
